body {
    background-color: lightgray;
    margin: 50px auto;
}

.card {
    width: 230px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#playing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin: 8px;
    font-size: 32px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: flex-end;
    margin: 8px;
    font-size: 32px;
}

.middle span {
    font-size: 80px;
}

span {
    display: flex;
    justify-content: center;
}

.flip {
    transform: rotate(180deg);
}

.red {
    color: red;
}